<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=KERIM\\MSSQLSERVER02;Initial Catalog=kerimcokurpinar;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
	  <authentication mode="Forms">
		  <forms loginUrl="~/Giris.aspx" timeout="2880" />
	  </authentication>
	  <authorization>
		  <deny users="?"/>
	  </authorization>
	  <compilation debug="true" targetFramework="4.7.2" />
	  <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>